<div class="b-contacts b-mcontent__dbg">
    <div class="b-contacts__calculate">
        <a class="b-contacts__calculate-btn" href="#">Рассчитать стоимость свадьбы</a>
    </div>
    <div class="container">
        <div class="row">
            <h3 class="b-contacts__title">Контакты</h3>

            <p><strong>Телефон:</strong> <a href="tel:+79100096878">+7 (910) 009 68 78</a></p>
            <p><strong>E-mail:</strong> <a href="mailto:mail@domain.com">mail@domain.com</a></p>
            <p><strong>Skype:</strong> <a href="skype:boda.wedding?call">boda.wedding</a></p>

            <div class="b-social">
                <a target="_blank" class="b-social__item b-social__item_vk" href="#"></a><a target="_blank" class="b-social__item b-social__item_inst" href="#"></a><a
                target="_blank" class="b-social__item b-social__item_fb" href="#"></a><a target="_blank" class="b-social__item b-social__item_yt" href="#"></a><a target="_blank" class="b-social__item b-social__item_vm" href="#"></a>
            </div>

            <img src="images/content/contacts_logo.png" alt="Boda wedding"/>
        </div>
    </div>
</div>