        <footer class="b-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="b-footer__copyright">© 1995–2015 BODA WEDDING</div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="b-footer__created align-right align-center-sm">
                            Создано с любовью в <a href="http://mymediapro.ru/">MyMediaPro</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>