<div class="b-header__top">
    <div class="container">
        <div class="col-sm-6 col-xs-12">
            <div class="b-header__row">
                <a class="b-header__tel" href="tel:+79100096878">+7 (910) <strong>009 68 78</strong></a>
                <a class="b-header__skype" href="skype:boda.wedding">boda.wedding</a>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 align-right align-center-sm">
            <div class="b-social">
                <a target="_blank" class="b-social__item b-social__item_vk" href="#"></a><a target="_blank" class="b-social__item b-social__item_inst" href="#"></a><a
                target="_blank" class="b-social__item b-social__item_fb" href="#"></a><a target="_blank" class="b-social__item b-social__item_yt" href="#"></a><a target="_blank" class="b-social__item b-social__item_vm" href="#"></a>
            </div>
        </div>
    </div>
</div>