<div class="b-menu">
    <img class="b-menu__photo" src="images/content/contacts_av.jpg" alt=""/>
    <div class="b-menu__title">Меню А</div>
    <p><strong>Фуршет:</strong><br /><span class="b-menu__count">14</span> <a href="#">аперитивов</a> (на ваш выбор);<br /><span class="b-menu__count">2</span> <a href="#">буфета</a>(на ваш выбор);<br />шампанское, мартини;<br /> б/а напитки.</p>

    <p><strong>Банкет:</strong><br />комплимент  от шеф-повара;<br />тёплый салат из козьего сыра и сухофруктов с медово-горчичным соусом;<br />десерт, кофе, чай, petit- fours.</p>

    <p><span class="pr-button pr-button_static">136 евро</span></p>
</div>