<nav class="b-tnav">
    <div class="container">
        <ul class="b-tnav__list">
            <li class="b-tnav__list-item"><a class="b-tnav__link b-tnav__link_home" href="index.html" title="Главная">Главная</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="portfolio.html">Портфолио</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="#">О&nbsp;замке</a></li>
            <li class="b-tnav__list-item b-tnav__list-item_parent">
                <a class="b-tnav__link" href="#">стоимость<span class="b-tnav__open-sub"></span></a>
                <ul class="b-tnav__submenu">
                    <li class="b-tnav__list-item"><a class="b-tnav__link b-tnav__link_sub" href="services.html">услуги</a></li>
                    <li class="b-tnav__list-item"><a class="b-tnav__link b-tnav__link_sub" href="services.html">услуги</a></li>
                    <li class="b-tnav__list-item"><a class="b-tnav__link b-tnav__link_sub" href="services.html">услуги</a></li>
                    <li class="b-tnav__list-item"><a class="b-tnav__link b-tnav__link_sub" href="services.html">услуги</a></li>
                    <li class="b-tnav__list-item"><a class="b-tnav__link b-tnav__link_sub" href="services.html">услуги</a></li>
                    <li class="b-tnav__list-item"><a class="b-tnav__link b-tnav__link_sub" href="services.html">услуги</a></li>
                    <li class="b-tnav__list-item"><a class="b-tnav__link b-tnav__link_sub" href="services.html">услуги</a></li>
                    <li class="b-tnav__list-item"><a class="b-tnav__link b-tnav__link_sub" href="services.html">услуги</a></li>
                    <li class="b-tnav__list-item"><a class="b-tnav__link b-tnav__link_sub" href="services.html">услуги</a></li>
                </ul>
            </li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="services.html">услуги</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="reviews.html">Отзывы</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="#">организаторам</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="#">блог</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="contacts.html">Контакты</a></li>
        </ul>
    </div>
</nav>