<nav class="b-tnav hidden-xs">
    <div class="container">
        <ul class="b-tnav__list">
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="portfolio.html">Портфолио</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="#">О замке</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="#">стоимость</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="services.html">услуги</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="reviews.html">Отзывы</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="#">организаторам</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="#">блог</a></li>
            <li class="b-tnav__list-item"><a class="b-tnav__link" href="contacts.html">Контакты</a></li>
        </ul>
    </div>
</nav>