@@include('blocks/_head.html')
<header class="b-header">
    @@include('blocks/_b-header__top.html')
    @@include('blocks/_b-tnav.html')
</header>
@@include('blocks/_b-breadcrumbs.html')
<div class="b-mcontent">
    <div class="b-mcontent__pattern"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="b-mcontent__title">
                    <h2 class="subtitle">ТРАДИЦИОННЫЕ И АВТОРСКИЕ БЛЮДА</h2>
                    <h1 class="title">Банкетное меню</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="b-text">
                    <p>Алексей и Ольга Журба — одни из создателей международного бренда ImoLife и Центра Индивидуального Развития «УСПЕХ» с 2006 года. Мы вместе уже 23 года. Мы можем с уверенностью назвать себя людьми, которые создали себя заново, основываясь на своих ценностях. Наши программы прошли более 10000 учеников с Украины, России, Европы и Средней Азии.</p>
                    <p class="align-center">
                        <a class="pr-button pr-button_spaced" href="#">АПЕРИТИВЫ</a><a class="pr-button" href="#">БУФЕТЫ</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        @@include('blocks/_b-menu.html')
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        @@include('blocks/_b-menu.html')
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        @@include('blocks/_b-menu.html')
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        @@include('blocks/_b-menu.html')
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="b-slider__header">
                        <span class="title">Название галереи</span>
                        <span class="b-slider__count">12 фото</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-slider__wrap">
            <div class="b-slider__slider">
                <ul class="slides">
                    <li>
                        <img src="images/content/slide.jpg" alt=""/>
                    </li>
                    <li>
                        <img src="images/content/slide.jpg" alt=""/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @@include('blocks/_b-contacts.html')
</div>
@@include('blocks/_b-footer.html')