@@include('blocks/_head.html')
<header class="b-header">
    @@include('blocks/_b-header__top.html')
    @@include('blocks/_b-tnav.html')
</header>
@@include('blocks/_b-breadcrumbs.html')
<div class="b-mcontent">
    <div class="b-mcontent__pattern"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="b-mcontent__title">
                    <h2 class="subtitle">КЛИЕНТЫ О НАШЕЙ РАБОТЕ</h2>
                    <h1 class="title">Отзывы</h1>
                </div>
                <div class="b-text">
                    <p>Алексей и Ольга Журба — одни из создателей международного бренда ImoLife и Центра Индивидуального Развития «УСПЕХ» с 2006 года. Мы вместе уже 23 года. Мы можем с уверенностью назвать себя людьми, которые создали себя заново, основываясь на своих ценностях. Наши программы прошли более 10000 учеников с Украины, России, Европы и Средней Азии.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-slider">
        <div class="b-slider__wrap">
            <div class="b-slider__slider">
                <ul class="slides">
                    <li>
                        <img src="images/content/slide.jpg" alt=""/>
                        <div class="b-scontent">
                            <img class="b-scontent__photo hidden-xs" src="images/content/contacts_av.jpg" alt="Александр и Виктория"/>
                            <div class="b-scontent__title">Александр и Виктория</div>
                            <div class="b-scontent__separator b-scontent__separator_t2 hidden-xs">“</div>
                            <p>Мы можем с назвать себя<br />людьми, которые создали себя<br />заново, прошли более 10000</p>
                            <div class="b-scontent__more">
                                <a class="pr-button" href="#">Подробнее</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images/content/slide.jpg" alt=""/>
                        <div class="b-scontent">
                            <img class="b-scontent__photo hidden-xs" src="images/content/contacts_av.jpg" alt="Александр и Виктория"/>
                            <div class="b-scontent__title">Александр и Виктория</div>
                            <div class="b-scontent__separator b-scontent__separator_t2 hidden-xs">“</div>
                            <p>Мы можем с назвать себя<br />людьми, которые создали себя<br />заново, прошли более 10000</p>
                            <div class="b-scontent__more">
                                <a class="pr-button" href="#">Подробнее</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @@include('blocks/_b-contacts.html')
</div>
@@include('blocks/_b-footer.html')