@@include('blocks/_head.html')
<header class="b-header b-header_fs" style="background-image:url(images/content/fs_bg.jpg);">
    @@include('blocks/_b-header__top.html')
    @@include('blocks/_b-tnav.html')
    @@include('blocks/_b-breadcrumbs.html')
    <div class="b-header__text">
        <h4>Отзыв</h4>
        <h3>Александра и виктории</h3>
    </div>
</header>
<div class="b-mcontent b-mcontent_fst">
    <div class="b-mcontent__pattern"></div>
    <img class="b-mcontent__photo" src="images/content/contacts_av.jpg" alt="Александр и Виктория"/>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="b-mcontent__title">
                    <h2 class="subtitle">ВТОРАЯ СТРОКА ЗАГОЛОВКА</h2>
                    <h1 class="title">Заголовок первая строка</h1>
                </div>
                <div class="b-text">
                    <p>Алексей и Ольга Журба — одни из создателей международного бренда ImoLife и Центра Индивидуального Развития «УСПЕХ» с 2006 года. Мы вместе уже 23 года. Мы можем с уверенностью назвать себя людьми, которые создали себя заново, основываясь на своих ценностях. Наши программы прошли более 10000 учеников с Украины, России, Европы и Средней Азии.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-slider">
        <div class="b-slider__wrap">
            <div class="b-slider__slider">
                <ul class="slides">
                    <li>
                        <img src="images/content/slide.jpg" alt=""/>
                    </li>
                    <li>
                        <img src="images/content/slide.jpg" alt=""/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="b-text">
                    <p>Алексей и Ольга Журба — одни из создателей международного бренда ImoLife и Центра Индивидуального Развития «УСПЕХ» с 2006 года. Мы вместе уже 23 года. Мы можем с уверенностью назвать себя людьми, которые создали себя заново, основываясь на своих ценностях. Наши программы прошли более 10000 учеников с Украины, России, Европы и Средней Азии.</p>
                    <div class="pr-separator"><span class="sp"></span></div>
                    <p>Алексей и Ольга Журба — одни из создателей международного бренда ImoLife и Центра Индивидуального Развития «УСПЕХ» с 2006 года. Мы вместе уже 23 года. Мы можем с уверенностью назвать себя людьми, которые создали себя заново, основываясь на своих ценностях. Наши программы прошли более 10000 учеников с Украины, России, Европы и Средней Азии.</p>
                    <div class="pr-separator"><span class="sp"></span></div>
                    <p>Алексей и Ольга Журба — одни из создателей международного бренда ImoLife и Центра Индивидуального Развития «УСПЕХ» с 2006 года. Мы вместе уже 23 года. Мы можем с уверенностью назвать себя людьми, которые создали себя заново, основываясь на своих ценностях. Наши программы прошли более 10000 учеников с Украины, России, Европы и Средней Азии.</p>
                </div>
            </div>
        </div>
    </div>
    @@include('blocks/_b-contacts.html')
</div>
@@include('blocks/_b-footer.html')