@@include('blocks/_head.html')
<header class="b-header b-header_fs" style="background-image:url(images/content/fs_bg.jpg);">
    @@include('blocks/_b-header__top.html')
    @@include('blocks/_b-tnav.html')
    @@include('blocks/_b-breadcrumbs.html')
    <div class="b-header__text">
        <h4>Отзыв</h4>
        <h3>Александра и виктории</h3>
        <p class="align-center">
            <a class="b-header__play colorbox-yt" href="http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&wmode=transparent"></a>
        </p>
    </div>
</header>
<div class="b-mcontent">
    <div class="b-mcontent__pattern"></div>
    @@include('blocks/_b-contacts.html')
</div>
@@include('blocks/_b-footer.html')