@@include('blocks/_head.html')
<header class="b-header">
    @@include('blocks/_b-header__top.html')
    @@include('blocks/_b-tnav.html')
</header>
@@include('blocks/_b-breadcrumbs.html')
<div class="b-mcontent">
    <div class="b-mcontent__pattern"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="b-mcontent__title">
                    <h1 class="title">УСЛУГИ</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="b-text">
                    <p>Алексей и Ольга Журба — одни из создателей международного бренда ImoLife и Центра Индивидуального Развития «УСПЕХ» с 2006 года. Мы вместе уже 23 года. Мы можем с уверенностью назвать себя людьми, которые создали себя заново, основываясь на своих ценностях. Наши программы прошли более 10000 учеников с Украины, России, Европы и Средней Азии.</p>
                </div>
                <div class="hidden-xs">
                    <div class="row">
                        <div class="col-sm-4">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img7.jpg" alt="Разработка концепции свадьбы"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Разработка<br />концепции<br />свадьбы</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img8.jpg" alt="Фото и видео съемка"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Фото и видео<br />съемка</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img9.jpg" alt="Свадебный декор и флористика"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Свадебный<br />декор и<br />флористика</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img10.jpg" alt="Свадебный распорядитель"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Свадебный<br />распорядитель</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img11.jpg" alt="Свадебный торт"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Свадебный<br />торт</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img12.jpg" alt="Развлекательная программа"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Развлекательная<br />программа</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img13.jpg" alt="Свадебный стилист"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Свадебный<br />стилист</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img14.jpg" alt="Ведущий"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Ведущий</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img15.jpg" alt="Туристические услуги"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Туристические<br />услуги</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="visible-xs">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img7.jpg" alt="Разработка концепции свадьбы"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Разработка<br />концепции<br />свадьбы</span>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img8.jpg" alt="Фото и видео съемка"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Фото и видео<br />съемка</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img9.jpg" alt="Свадебный декор и флористика"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Свадебный<br />декор и<br />флористика</span>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img10.jpg" alt="Свадебный распорядитель"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Свадебный<br />распорядитель</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img11.jpg" alt="Свадебный торт"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Свадебный<br />торт</span>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img12.jpg" alt="Развлекательная программа"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Развлекательная<br />программа</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img13.jpg" alt="Свадебный стилист"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Свадебный<br />стилист</span>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img14.jpg" alt="Ведущий"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Ведущий</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="b-services" href="#">
                                <span class="b-services__img">
                                    <img src="images/content/services/img15.jpg" alt="Туристические услуги"/>
                                </span>
                                <span class="b-services__separator"></span>
                                <span class="b-services__title">Туристические<br />услуги</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-contacts.html')
@@include('blocks/_b-footer.html')