@@include('blocks/_head.html')
<header class="b-header">
    @@include('blocks/_b-header__top.html')
    @@include('blocks/_b-tnav.html')
</header>
@@include('blocks/_b-breadcrumbs.html')
<div class="b-mcontent">
    <div class="b-mcontent__pattern"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="b-mcontent__title">
                    <h2 class="subtitle">ТРАДИЦИОННЫЕ И АВТОРСКИЕ БЛЮДА</h2>
                    <h1 class="title">Банкетное меню</h1>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="b-text">
                    <p>Алексей и Ольга Журба — одни из создателей международного бренда ImoLife и Центра Индивидуального Развития «УСПЕХ» с 2006 года. Мы вместе уже 23 года. Мы можем с уверенностью назвать себя людьми, которые создали себя заново, основываясь на своих ценностях. Наши программы прошли более 10000 учеников с Украины, России, Европы и Средней Азии.</p>
                    <div class="pr-separator"><span class="sp"></span></div>
                    <p>Алексей и Ольга Журба — одни из создателей международного бренда ImoLife и Центра Индивидуального Развития «УСПЕХ» с 2006 года. Мы вместе уже 23 года. Мы можем с уверенностью назвать себя людьми, которые создали себя заново, основываясь на своих ценностях. Наши программы прошли более 10000 учеников с Украины, России, Европы и Средней Азии.</p>
                    <div class="pr-separator"><span class="sp"></span></div>
                    <p>Алексей и Ольга Журба — одни из создателей международного бренда ImoLife и Центра Индивидуального Развития «УСПЕХ» с 2006 года. Мы вместе уже 23 года. Мы можем с уверенностью назвать себя людьми, которые создали себя заново, основываясь на своих ценностях. Наши программы прошли более 10000 учеников с Украины, России, Европы и Средней Азии.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-slider">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="b-slider__header">
                        <span class="title">Название галереи</span>
                        <span class="b-slider__count">12 фото</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-slider__wrap">
            <div class="b-slider__slider">
                <ul class="slides">
                    <li>
                        <img src="images/content/slide.jpg" alt=""/>
                    </li>
                    <li>
                        <img src="images/content/slide.jpg" alt=""/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="b-person-text">
                    <div class="row">
                        <div class="col-sm-2">
                            <img class="b-person-text__photo" src="images/content/contacts_av.jpg" alt=""/>
                            <div class="pr-separator pr-separator_t2"><span class="sp">“</span></div>
                            <div class="b-person-text__text">Мы можем с назвать себя людьми, которые создали себя заново, прошли более 10000</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="b-text">
                                <p>Алексей и Ольга Журба — одни из создателей международного бренда ImoLife и Центра Индивидуального Развития «УСПЕХ» с 2006 года. Мы вместе уже 23 года. Мы можем с уверенностью назвать себя людьми, которые создали себя заново, основываясь на своих ценностях. Наши программы прошли более 10000 учеников с Украины, России, Европы и Средней Азии.</p>
                                <p>Алексей и Ольга Журба — одни из создателей международного бренда ImoLife и Центра Индивидуального Развития «УСПЕХ» с 2006 года. Мы вместе уже 23 года. Мы можем с уверенностью назвать себя людьми, которые создали себя заново, основываясь на своих ценностях. Наши программы прошли более 10000 учеников с Украины, России, Европы и Средней Азии.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('blocks/_b-contacts.html')
</div>
@@include('blocks/_b-footer.html')