.b-header{
    padding-bottom: em(35);
    box-sizing: border-box;
    position: relative;
    &_fs{
        height: 100vh;
        min-height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        padding-bottom: em(180);
        .b-breadcrumbs{
            &__item{
                color: #fff;
                &:before{
                    background-color: #fff;
                }
            }

        }

        .b-tnav{
            border-bottom:0;
            background-color: rgba(63,40,40,.5);
            &__link{
                color: #fff;
                &_home{
                    background: url(../images/b64/home.svg) no-repeat center center;
                    color: rgba(0,0,0,0);
                }
            }
        }
    }
    &__top{
        background-color: #491a1a;
        padding: em(7) 0 em(10);
        position: relative;
        z-index: 30;
    }
    &__tel{
        display: inline-block;
        text-decoration: none;
        color: rgba(255,255,255,.6);
        $font-size: 14;
        font-size: em($font-size);
        font-weight: 300;
        padding: em(10, $font-size) em(25, $font-size) em(5, $font-size) 0;
        strong{
            font-weight: 600;
        }
    }
    &__skype{
        color: rgba(255,255,255,.6);
        $font-size: 15;
        font-size: em($font-size);
        font-weight: 600;
        text-decoration: none;
        padding-top: em(10, $font-size);
        &:before{
            content:"";
            display: inline-block;
            background: url(../images/b64/skype.png) no-repeat;
            width: 19px;
            height: 19px;
            margin-right: 9px;
            vertical-align: middle;
            opacity: .6;
        }
    }
    &__text{
        position: relative;
        z-index: 10;
        text-align: center;
        color: #FFF;
        text-transform: uppercase;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        padding-top: em(170);
        h3{
            font-family: 'Philosopher', sans-serif;
            $font-size: 60;
            font-size: em($font-size);
            line-height: 1.1;
            padding: em(10, $font-size) 0;
        }
        h4{
            $font-size: 28;
            font-size: em($font-size);;
        }
    }

    &__play{
        display: inline-block;
        width: em(89);
        height: em(89);
        background: url(../images/b64/play.png) no-repeat;
        background-size: cover;
        margin: em(15) 0;
    }

    &__video{
        position: absolute;
        top:0%;
        left:0%;
        height:100%;
        width:100%;
        overflow: hidden;
        video {
            position:absolute;
            z-index:0;
            object-fit: cover;
            overflow: hidden;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        video.fillWidth {
            width: 100%;
        }
    }
    &__mobmenubtn{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 75px;
        background: url(../images/b64/menu_mob.svg) no-repeat center center;
        display: none;
        border: none;
        cursor: pointer;
    }
    &__lng{

        .jq-selectbox{
            vertical-align: middle;
            &__select{
                border: 1px solid rgba(255,255,255,.6);
                background-color: rgba(0, 0, 0, 0);
                $font-size: 13;
                font-size: em($font-size);
                color: rgba(255, 255, 255, .6);
                padding: em(5, $font-size) em(22, $font-size) em(5, $font-size) em(13, $font-size);
                border-radius:em(15, $font-size);
            }
            &__trigger{
                border-top: 5px solid rgba(255, 255, 255, .6);
                border-left: 3px solid rgba(255, 255, 255, 0);
                border-right: 3px solid rgba(255, 255, 255, 0);
                width: 0;
                right: 11px;
                top: 50%;
                margin-top: -2px;
                height: 0;
            }
        }
    }
}

@media (max-width: $base__size_sm*1px) {
    .b-header{
        &_fs{
            height: auto;
            min-height: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            .b-tnav{
                background-color: rgba(0, 0, 0, .8);
                &__link{
                    &_home{
                        color: #fff;
                        background-image: none;
                    }
                }
            }
        }
        &__top{
            padding: em(15) 75px;
        }
        &__text{
            padding-top: em(30);
            h3{
                $font-size: 40;
                font-size: em($font-size);
                
            }
        }
        &__video{
            display: none;
        }
        &__mobmenubtn{
            display: block;
        }
        &__tel{
            padding-top: 0;
            text-align: center;
            display: block;
            padding-right: 0;
        }
        &__skype{
            padding-top: 0;
        }
        &__lng{
            position: absolute!important;
            top: 7px;
            left: 10px;
        }
    }
}